<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iFeedTouch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6E120F131CBFC0A80014CEBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E120F2C1CBFC0AA0014CEBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E120F371CBFC0AA0014CEBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
